@font-face {
    font-family: 'lxgw';
    src: url('https://cdn.jsdelivr.net/gh/aaaaahelloworld/LXGWWenKai-Web/Font/LXGWWenKai.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aaaaahelloworld/LXGWWenKai-Web/Font/LXGWWenKai.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aaaaahelloworld/LXGWWenKai-Web/Font/LXGWWenKai.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}

